<div class="navbar-wrapper">
    <div class="logo">
        <img src="../../../../../../assets/images/logo-svgrepo-com.svg" height="30"/>
    </div>

    <div class="right-side-menu">
        <button type="button" class="btn btn-outline-secondary position-relative">
            <img src="../../../../../../assets/images/bell-svgrepo-com.svg" height="25" />
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              6+
              <span class="visually-hidden">unread notifications</span>
            </span>
        </button>

        <div>
            <img src="../../../../../../assets/images/earth-globe-svgrepo-com.svg" height="25" />
        </div>

        <div>
            <img src="../../../../../../assets/images/profile-circle-svgrepo-com.svg" height="25" />
        </div>
    </div>
</div>