.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 2em;
    background-color: #ff0000;
}

.right-side-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1em;

    button {
        padding: 0.4em;
        background: #ff322a;
        border: #ff322a;

        span {
            background-color: #ff3937 !important;
        }
    }
}

.logo {
    background-color: white;
    padding: 0.3em;
}