<div class="footer-container">
    <div class="footer-left">
      <img src="../../../../../../assets/images/logo-svgrepo-com.svg" alt="Company Logo" class="footer-logo">
      <p>© 2024</p>
    </div>

    <div class="footer-center">
      <h4>Version</h4>
      <p>2.2.2</p>
    </div>

    <div class="footer-right">
      <h4>About</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
    </div>
</div>